{% extends 'Login_Cadastro/base.html'%}


{%block form%}


<form>
    <h1><strong>SIGER</strong> <strong class="cor_verde">IFRN</strong></h1>
    <h2><strong>Criar conta</strong></h2>

    <div class="container">
        <div class="row">
            <!-- Coluna Esquerda -->
            <div class="col-md-6">
                <div class="mb-3 text-start">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control " id="nome" placeholder="Digite seu nome">
                </div>
                <div class="mb-3 text-start">
                    <label for="sobrenome" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control " id="sobrenome" placeholder="Digite seu sobrenome">
                </div>
                <div class="mb-3 text-start">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control " id="cpf" placeholder="Digite seu CPF">
                </div>
                <div class="mb-3 text-start">
                    <label for="programa" class="form-label">Está na Alimentação estudantil?</label>
                    <select class="form-select" id="programa">
                        <option value="" disabled selected>Selecione uma opção</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>                
                <div class="mb-3 text-start">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control " id="cidade" placeholder="Digite sua cidade">
                </div>
                <div class="mb-3 text-start">
                    <label for="curso" class="form-label">Curso</label>
                    <select class="form-select" id="curso">
                        <option value="" disabled selected>Selecione seu curso</option>
                        <!-- Técnico Integrado -->
                        <option value="tecnico-integrado-alimentos">Técnico Integrado - Alimentos</option>
                        <option value="tecnico-integrado-apicultura">Técnico Integrado - Apicultura</option>
                        <option value="tecnico-integrado-informatica">Técnico Integrado - Informática</option>
                        <option value="tecnico-integrado-eja-alimentos">Técnico Integrado EJA - Técnico em Alimentos</option>
                        <option value="tecnico-integrado-eja-informatica">Técnico Integrado EJA - Técnico em Informática</option>
                        
                        <!-- Técnico Subsequente -->
                        <option value="tecnico-subsequente-alimentos">Técnico Subsequente - Alimentos</option>
                        <option value="tecnico-subsequente-apicultura">Técnico Subsequente - Apicultura</option>
                        
                        <!-- FIC -->
                        <option value="fic-corte-costura">FIC - Corte e Costura (Vestuário)</option>
                        <option value="fic-modelista-costureira">FIC - Modelista e Costureira em Geral</option>
                        <option value="fic-processamento-frutas-hortalicas">FIC - Operador de Processamento de Frutas e Hortaliças</option>
                        <option value="fic-doces-conservas">FIC - Preparador de Doces e Conservas</option>
                        <option value="fic-processamento-alimentos">FIC - Processamento de Alimentos</option>
                        
                        <!-- Licenciatura -->
                        <option value="licenciatura-quimica">Licenciatura - Química</option>
                        
                        <!-- Especialização -->
                        <option value="especializacao-educacao-campo">Especialização - Educação do Campo – Saberes da Terra</option>
                        <option value="especializacao-ciencias-naturais">Especialização - Ensino de Ciências Naturais e Matemática</option>
                        
                        <!-- Doutorado -->
                        <option value="doutorado-ensino">Doutorado - Ensino (Renoen)</option>
                        
                        <!-- Tecnologia -->
                        <option value="tecnologia-agroindustria">Tecnologia - Agroindústria</option>
                        <option value="tecnologia-analise-desenvolvimento-sistemas">Tecnologia - Análise e Desenvolvimento de Sistemas</option>
                    </select>
                </div>                
                <div class="mb-3 text-start">
                    <label for="foto" class="form-label">Foto de perfil</label>
                    <input type="file" class="form-control " id="foto">
                </div>
            </div>

            <!-- Coluna Direita -->
            <div class="col-md-6">
                <div class="mb-3 text-start">
                    <label for="nascimento" class="form-label">Data de nascimento</label>
                    <input type="date" class="form-control " id="nascimento">
                </div>
                <div class="mb-3 text-start">
                    <label for="matricula" class="form-label">Matrícula</label>
                    <input type="text" class="form-control " id="matricula" placeholder="Digite sua matrícula">
                </div>
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control " id="email" placeholder="Digite seu email">
                </div>
                <div class="mb-3 text-start">
                    <label for="confirmar_email" class="form-label">Confirmar email</label>
                    <input type="email" class="form-control " id="confirmar_email" placeholder="Confirme seu email">
                </div>
                <div class="mb-3 text-start">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control " id="senha" placeholder="Digite sua senha">
                </div>
                <div class="mb-3 text-start">
                    <label for="confirmar_senha" class="form-label">Confirmar senha</label>
                    <input type="password" class="form-control " id="confirmar_senha" placeholder="Confirme sua senha">
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary form-label botao_longo">Acessar</button>

    <p>Já tem uma conta? <a class="link-primary text-decoration-none" href="{% url 'Login' %}">Iniciar sessão</a></p>
</form>




{%endblock%}