{% extends 'Login_Cadastro/base.html'%}


{%block form%}

        <form>
          <h1><strong>SIGER</strong> <strong class="cor_verde">IFRN</strong></h1>
          <h2>Entrar com sua conta </h2>
          <p>Bem-vindo de Volta! Por favor entre com suas <br> credenciais.</p>

          <div class="mb-3 text-start">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Rogerio@gmail.com">
          </div>

          <div class="mb-3 text-start">
            <label for="inputPassword5" class="form-label">Senha</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
              placeholder="**********">
          </div>

          <button type="submit" class="btn btn-primary form-label botao_longo">Acessar</button>

          <p>Não tem uma conta? <a class="link-primary text-decoration-none" href="{% url 'Cadastro_aluno' %}">Cadastre-se</a></p>

        </form>
{%endblock%}
